 table
{
border-collapse:collapse;
width:100%;
}
table,th, td
{
border:1px solid green;
}
th
{
height:50px;
background-color:#669933;
color:white;
}
td
{
text-align:center;
width:100px;
height:35px;
vertical-align:middle;
padding:10px;
}
tr:hover
{
background-color:#FCCBAE;
}
.alt
{
background-color:rgb(243,242,211);

}
.alt:hover
{
background-color:#F9D15B;

}