<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EMANDI</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>log</display-name>
		<servlet-name>log</servlet-name>
		<servlet-class>
		log</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>book</display-name>
		<servlet-name>book</servlet-name>
		<servlet-class>
		book</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>store</display-name>
		<servlet-name>store</servlet-name>
		<servlet-class>
		store</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>booking</display-name>
		<servlet-name>booking</servlet-name>
		<servlet-class>
		booking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fileupload</display-name>
		<servlet-name>fileupload</servlet-name>
		<servlet-class>
		fileupload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>register</display-name>
		<servlet-name>register</servlet-name>
		<servlet-class>
		register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>loginhandler</display-name>
		<servlet-name>loginhandler</servlet-name>
		<servlet-class>
		loginhandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>nearest</display-name>
		<servlet-name>nearest</servlet-name>
		<servlet-class>
		nearest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>book</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>store</servlet-name>
		<url-pattern>/store</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>booking</servlet-name>
		<url-pattern>/booking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginhandler</servlet-name>
		<url-pattern>/loginhandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>nearest</servlet-name>
		<url-pattern>/nearest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
